:root {
    --red: #C5004A;
    --darkred: #7F0036;
    --lightgray: #e0e0e0;
    --gray: #C0C0C0;
    --darkgray: #333;
    --navy: #17050F;
    --blue: #082840;
    --white: #fff;
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
    color: var(--white);
    background-color: var(--darkgray);
  }