.gist,
.gist .highlight .p {
  font-size: .75rem;
}

.gist .lines {
  width: 100%;
}
pre, code {
  word-wrap: normal;
  font-family: Menlo, Monaco, "Courier New", monospace
}

code {
  color: #7a7a7a;
}

pre {
  padding: 1.125em;
  font-size: 1.125rem;
  line-height: 1.11;
  overflow-x: auto;
  margin-bottom: 0.88em;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}
